<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.cpadridev.carmonaadrian_enterthecar">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/silla_de_ruedas"
        android:label="@string/app_name"
        android:logo="@drawable/todo_terreno"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarmonaAdrian_EnterTheCar"
        tools:targetApi="31" >
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderSummary"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".PaymentForm"
            android:parentActivityName=".OrderSummary"/>
        <activity
            android:name=".PaymentSummary"
            android:parentActivityName=".PaymentForm"/>
    </application>

</manifest>